@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

input[type="text"], input[type="password"], input[type="number"] {
    width: 20%;
    height: 5vh;
    padding: 20px;
    display: block;
    border-radius: 3px;
    border: 1px solid rgb(87, 87, 87);
    margin: 20px auto;
}
input[type="search"] {
    width: 10%;
    height: 5vh;
    padding: 20px;
    border-radius: 3px;
    border: 1px solid rgb(87, 87, 87);
    margin: 1vh auto;
}

input[type="submit"], input[type="button"]{
    width: 20vh;
    height: 5vh;
    padding: 10px;
    color: #fff;
    background: #0098cb;
    margin: 5vh auto;
    margin-top: 0; 
    border: 0;
    border-radius: 5px;
    cursor: pointer; 
} 

input[type="submit"]:hover, input[type="button"]:hover{
    background-color: #00b8eb;
}

header{
    width: 100%;
    height: 5vh;
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    text-align: center;
}
header a{
    text-decoration: none;
    color: #333;
} 
i {
    width: 3vh;
    height: 3vh;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.log {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.search{
    margin-left: auto;
    margin-right: auto;


}
.student_table {
    width: 70%;
    height: 100%;   
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-top: 20px;
}
tr > td {
    border: 2px solid #ececec;
                    height: 40px;
                    padding-left: 3px;
                    
}
.home_logo {
    width: 70px;
    position: absolute; 
    left:10px; 
    top: 2vh;
}
